
<div class = "list-container">
  <div class="lists-container" >

    <h1>Create a Workshop! User-form</h1>


    <div class = "list-newplace-container" >
  <%= simple_form_for @list do |f| %>
  <%= f.input :name, label: 'What are you offering', error: 'Title is mandatory, use it to attract seagels!' %>
  <%= f.input :description, label: 'A short description' %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.input :is_public, label: 'Can anyone come' %>
  <%= f.input :capacity, label: 'If so, How many people can come?' %>
  <%= f.input :length, label: 'For how long: in minutes' %>
   <br><h2>To make a Class, you need to host it first from an NGO, do you have one? If not please make one</h2>
    <%= f.input :place_id, collection: current_user.places%>
    <%= f.input :start_time, label: 'When do you plan on having it?' %>

    <p>ps: Sorry its not the best</p>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>

    </div>


  </div>
</div>
<!--
<%= javascript_pack_tag 'form/autocomplete' %>
<%= javascript_pack_tag 'form/insertForm' %>
 -->
