
<div class="container-headling">
  <h1>Places#new</h1>

<%= simple_form_for @place do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :photo, label %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

</div>
